<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="apicode.base1.MainClassOne"/> <!-- Make sure this is correct -->
       <class name="apicode.base1.MainClassOne2"/> <!-- Make sure this is correct -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
